body {
  background: #0f0f14;
  color: white;
  font-family: Arial;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

#status {
  margin-bottom: 20px;
  color: #aaa;
}

.event {
  background: #191923;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event button {
  background: #3a3aff;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
